$text-sizes: (
    "small" :  15px,
    "medium" : 30px,
    "large" : 64px
);
@each $size, $font-size in $text-sizes{
    .text-#{$size} {
        font-size: $font-size;
    }
}

$dark-text-color: #ffffff;   // Color de texto en modo oscuro
$light-text-color: #333333;  // Color de texto en modo claro